* {
  margin: 0;
  padding: 0; 
}

input {
  border: 0;
  border-radius: 3px;
  background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:50px;
  position: absolute;
  padding-left: 20px;
}

.lightText {
  color:rgba(77.56250202655792, 77.56250202655792, 77.56250202655792, 1);
	font-family:JetBrains Mono;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}

#App {
  background: #9E2A2B;
  height: 100vh;
  width: 100vw;
}

.enterinfo { 
	width:400px;
	height:214px;
	position:absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.register { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:21px;
	position:absolute;
	left:0px;
	top:193px;
	font-family:JetBrains Mono;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.passField {
	left:0px;
	top:129px;
}
.unameField {
	left:0px;
	top:65px;
}
.login { 
	width: 100%;
	color:rgba(255, 255, 255, 1);
	position:absolute;
	font-family:JetBrains Mono;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.submit {
  border: 1px solid rgba(77.56250202655792, 77.56250202655792, 77.56250202655792, 1);
  color: rgba(77.56250202655792, 77.56250202655792, 77.56250202655792, 1);
  border-radius: 50%;
  background-color:rgba(255, 255, 255, 1);
  text-align: center;
  padding: 0;
	width:35px;
	height:35px;
  right: 40px;
	top: 137px;
  
}